In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data\hourly data(2000-2023).csv')

In [3]:
df

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand
0,2000-01-01 00:00:00,5,0,1,17.483571,0,0.853473,512.319382
1,2000-01-01 01:00:00,5,1,1,14.308678,0,4.869377,439.055673
2,2000-01-01 02:00:00,5,2,1,18.238443,0,4.997991,539.090652
3,2000-01-01 03:00:00,5,3,1,22.615149,0,2.738188,523.248968
4,2000-01-01 04:00:00,5,4,1,13.829233,0,7.694527,516.822822
...,...,...,...,...,...,...,...,...
210356,2023-12-30 20:00:00,5,20,1,10.287488,0,6.321843,614.952598
210357,2023-12-30 21:00:00,5,21,1,13.728469,0,4.988534,633.911183
210358,2023-12-30 22:00:00,5,22,1,12.069605,0,7.831031,616.891494
210359,2023-12-30 23:00:00,5,23,1,15.542929,0,2.843539,497.233142
210360,2023-12-31 00:00:00,6,0,1,18.030598,0,2.196294,525.870426

In [4]:
df.isnull().sum()

timestamp             0
day_of_week           0
hour_of_day           0
is_weekend            0
temperature           0
is_holiday            0
solar_generation      0
electricity_demand    0
dtype: int64

In [5]:
df.columns

Index(['timestamp', 'day_of_week', 'hour_of_day', 'is_weekend', 'temperature',
       'is_holiday', 'solar_generation', 'electricity_demand'],
      dtype='object')

In [6]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [7]:
df['month'] = df['timestamp'].dt.month
df['season'] = pd.cut(df['month'], 
                      bins=[0,3,6,9,12], 
                      labels=['Winter1','Summer','Monsoon','Winter2'], 
                      right=True)

In [8]:
df

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand,month,season
0,2000-01-01 00:00:00,5,0,1,17.483571,0,0.853473,512.319382,1,Winter1
1,2000-01-01 01:00:00,5,1,1,14.308678,0,4.869377,439.055673,1,Winter1
2,2000-01-01 02:00:00,5,2,1,18.238443,0,4.997991,539.090652,1,Winter1
3,2000-01-01 03:00:00,5,3,1,22.615149,0,2.738188,523.248968,1,Winter1
4,2000-01-01 04:00:00,5,4,1,13.829233,0,7.694527,516.822822,1,Winter1
...,...,...,...,...,...,...,...,...,...,...
210356,2023-12-30 20:00:00,5,20,1,10.287488,0,6.321843,614.952598,12,Winter2
210357,2023-12-30 21:00:00,5,21,1,13.728469,0,4.988534,633.911183,12,Winter2
210358,2023-12-30 22:00:00,5,22,1,12.069605,0,7.831031,616.891494,12,Winter2
210359,2023-12-30 23:00:00,5,23,1,15.542929,0,2.843539,497.233142,12,Winter2
210360,2023-12-31 00:00:00,6,0,1,18.030598,0,2.196294,525.870426,12,Winter2

In [9]:
%pip install holidays

Requirement already satisfied: holidays in c:\mayankguptaconda\envs\all_packages\lib\site-packages (0.80)
Requirement already satisfied: python-dateutil in c:\users\mayank gupta\appdata\roaming\python\python313\site-packages (from holidays) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\mayank gupta\appdata\roaming\python\python313\site-packages (from python-dateutil->holidays) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import holidays
india_holidays = holidays.India(years=range(2000,2024))

In [14]:
# Ensure timestamp is datetime
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Convert to date and check if holiday
df['is_national_holiday'] = df['timestamp'].dt.date.astype('datetime64[ns]').isin(
    pd.to_datetime(list(india_holidays.keys())).date
)

In [16]:
df[df.is_national_holiday == True]

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand,month,season,is_national_holiday
168,2000-01-08 00:00:00,5,0,1,13.773059,0,6.927006,472.490159,1,Winter1,True
169,2000-01-08 01:00:00,5,1,1,11.231319,0,5.052756,471.756779,1,Winter1,True
170,2000-01-08 02:00:00,5,2,1,10.552428,0,0.641303,510.684315,1,Winter1,True
171,2000-01-08 03:00:00,5,3,1,10.920949,0,3.468421,514.971825,1,Winter1,True
172,2000-01-08 04:00:00,5,4,1,14.614491,0,9.633102,456.185057,1,Winter1,True
...,...,...,...,...,...,...,...,...,...,...,...
210235,2023-12-25 19:00:00,0,19,0,15.551075,0,8.198559,654.156065,12,Winter2,True
210236,2023-12-25 20:00:00,0,20,0,19.246467,0,3.757594,724.675939,12,Winter2,True
210237,2023-12-25 21:00:00,0,21,0,18.830678,0,4.552018,642.989968,12,Winter2,True
210238,2023-12-25 22:00:00,0,22,0,14.957810,0,5.305396,546.609275,12,Winter2,True
210239,2023-12-25 23:00:00,0,23,0,20.290877,0,9.867043,627.630988,12,Winter2,True

In [17]:
df['is_diwali_season'] = df['month'].isin([10,11])

In [18]:
df['lag_1h'] = df['electricity_demand'].shift(1)
df['lag_24h'] = df['electricity_demand'].shift(24)
df['rolling_mean_3h'] = df['electricity_demand'].rolling(window=3).mean()
df['rolling_mean_24h'] = df['electricity_demand'].rolling(window=24).mean()

In [19]:
df['temp_squared'] = df['temperature']**2
df['temp_weekend'] = df['temperature'] * df['is_weekend']

In [20]:
day = 24
week = 24*7
df['sin_day'] = np.sin(2 * np.pi * df['hour_of_day'] / day)
df['cos_day'] = np.cos(2 * np.pi * df['hour_of_day'] / day)
df['sin_week'] = np.sin(2 * np.pi * df['day_of_week'] / 7)
df['cos_week'] = np.cos(2 * np.pi * df['day_of_week'] / 7)

In [22]:
df.columns

Index(['timestamp', 'day_of_week', 'hour_of_day', 'is_weekend', 'temperature',
       'is_holiday', 'solar_generation', 'electricity_demand', 'month',
       'season', 'is_national_holiday', 'is_diwali_season', 'lag_1h',
       'lag_24h', 'rolling_mean_3h', 'rolling_mean_24h', 'temp_squared',
       'temp_weekend', 'sin_day', 'cos_day', 'sin_week', 'cos_week'],
      dtype='object')

In [23]:
df

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand,month,season,...,lag_1h,lag_24h,rolling_mean_3h,rolling_mean_24h,temp_squared,temp_weekend,sin_day,cos_day,sin_week,cos_week
0,2000-01-01 00:00:00,5,0,1,17.483571,0,0.853473,512.319382,1,Winter1,...,NaN,NaN,NaN,NaN,305.675247,17.483571,0.000000,1.000000,-0.974928,-0.222521
1,2000-01-01 01:00:00,5,1,1,14.308678,0,4.869377,439.055673,1,Winter1,...,512.319382,NaN,NaN,NaN,204.738280,14.308678,0.258819,0.965926,-0.974928,-0.222521
2,2000-01-01 02:00:00,5,2,1,18.238443,0,4.997991,539.090652,1,Winter1,...,439.055673,NaN,496.821902,NaN,332.640792,18.238443,0.500000,0.866025,-0.974928,-0.222521
3,2000-01-01 03:00:00,5,3,1,22.615149,0,2.738188,523.248968,1,Winter1,...,539.090652,NaN,500.465098,NaN,511.444977,22.615149,0.707107,0.707107,-0.974928,-0.222521
4,2000-01-01 04:00:00,5,4,1,13.829233,0,7.694527,516.822822,1,Winter1,...,523.248968,NaN,526.387481,NaN,191.247689,13.829233,0.866025,0.500000,-0.974928,-0.222521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210356,2023-12-30 20:00:00,5,20,1,10.287488,0,6.321843,614.952598,12,Winter2,...,523.891176,634.786702,549.547935,494.744509,105.832411,10.287488,-0.866025,0.500000,-0.974928,-0.222521
210357,2023-12-30 21:00:00,5,21,1,13.728469,0,4.988534,633.911183,12,Winter2,...,614.952598,586.105928,590.918319,496.736395,188.470849,13.728469,-0.707107,0.707107,-0.974928,-0.222521
210358,2023-12-30 22:00:00,5,22,1,12.069605,0,7.831031,616.891494,12,Winter2,...,633.911183,555.188820,621.918425,499.307340,145.675361,12.069605,-0.500000,0.866025,-0.974928,-0.222521
210359,2023-12-30 23:00:00,5,23,1,15.542929,0,2.843539,497.233142,12,Winter2,...,616.891494,510.122261,582.678606,498.770293,241.582638,15.542929,-0.258819,0.965926,-0.974928,-0.222521
210360,2023-12-31 00:00:00,6,0,1,18.030598,0,2.196294,525.870426,12,Winter2,...,497.233142,477.545335,546.665020,500.783839,325.102482,18.030598,0.000000,1.000000,-0.781831,0.623490

In [24]:
df.isnull().sum()

timestamp               0
day_of_week             0
hour_of_day             0
is_weekend              0
temperature             0
is_holiday              0
solar_generation        0
electricity_demand      0
month                   0
season                  0
is_national_holiday     0
is_diwali_season        0
lag_1h                  1
lag_24h                24
rolling_mean_3h         2
rolling_mean_24h       23
temp_squared            0
temp_weekend            0
sin_day                 0
cos_day                 0
sin_week                0
cos_week                0
dtype: int64

In [25]:
# Drop only rows where lag/rolling features are NaN
df = df.dropna(subset=['lag_1h','lag_24h','rolling_mean_3h','rolling_mean_24h'])

# Reset index after dropping
df = df.reset_index(drop=True)

In [26]:
df

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand,month,season,...,lag_1h,lag_24h,rolling_mean_3h,rolling_mean_24h,temp_squared,temp_weekend,sin_day,cos_day,sin_week,cos_week
0,2000-01-02 00:00:00,6,0,1,12.278086,0,9.818864,561.445496,1,Winter1,...,517.798450,512.319382,572.066887,502.256181,150.751405,12.278086,0.000000,1.000000,-0.781831,0.623490
1,2000-01-02 01:00:00,6,1,1,15.554613,0,5.034357,528.952707,1,Winter1,...,561.445496,439.055673,536.065551,506.001890,241.945984,15.554613,0.258819,0.965926,-0.781831,0.623490
2,2000-01-02 02:00:00,6,2,1,9.245032,0,0.622450,502.959334,1,Winter1,...,528.952707,539.090652,531.119179,504.496419,85.470619,9.245032,0.500000,0.866025,-0.781831,0.623490
3,2000-01-02 03:00:00,6,3,1,16.878490,0,9.506536,509.784184,1,Winter1,...,502.959334,523.248968,513.898742,503.935386,284.883428,16.878490,0.707107,0.707107,-0.781831,0.623490
4,2000-01-02 04:00:00,6,4,1,11.996807,0,9.509486,439.657242,1,Winter1,...,509.784184,516.822822,484.133587,500.720154,143.923367,11.996807,0.866025,0.500000,-0.781831,0.623490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210332,2023-12-30 20:00:00,5,20,1,10.287488,0,6.321843,614.952598,12,Winter2,...,523.891176,634.786702,549.547935,494.744509,105.832411,10.287488,-0.866025,0.500000,-0.974928,-0.222521
210333,2023-12-30 21:00:00,5,21,1,13.728469,0,4.988534,633.911183,12,Winter2,...,614.952598,586.105928,590.918319,496.736395,188.470849,13.728469,-0.707107,0.707107,-0.974928,-0.222521
210334,2023-12-30 22:00:00,5,22,1,12.069605,0,7.831031,616.891494,12,Winter2,...,633.911183,555.188820,621.918425,499.307340,145.675361,12.069605,-0.500000,0.866025,-0.974928,-0.222521
210335,2023-12-30 23:00:00,5,23,1,15.542929,0,2.843539,497.233142,12,Winter2,...,616.891494,510.122261,582.678606,498.770293,241.582638,15.542929,-0.258819,0.965926,-0.974928,-0.222521
210336,2023-12-31 00:00:00,6,0,1,18.030598,0,2.196294,525.870426,12,Winter2,...,497.233142,477.545335,546.665020,500.783839,325.102482,18.030598,0.000000,1.000000,-0.781831,0.623490

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210337 entries, 0 to 210336
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   timestamp            210337 non-null  datetime64[ns]
 1   day_of_week          210337 non-null  int64
 2   hour_of_day          210337 non-null  int64
 3   is_weekend           210337 non-null  int64
 4   temperature          210337 non-null  float64
 5   is_holiday           210337 non-null  int64
 6   solar_generation     210337 non-null  float64
 7   electricity_demand   210337 non-null  float64
 8   month                210337 non-null  int32
 9   season               210337 non-null  category
 10  is_national_holiday  210337 non-null  bool
 11  is_diwali_season     210337 non-null  bool
 12  lag_1h               210337 non-null  float64
 13  lag_24h              210337 non-null  float64
 14  rolling_mean_3h      210337 non-null  float64
 15  rolling_mean_24h     210337 non-null  float64
 16  temp_squared         210337 non-null  float64
 17  temp_weekend         210337 non-null  float64
 18  sin_day              210337 non-null  float64
 19  cos_day              210337 non-null  float64
 20  sin_week             210337 non-null  float64
 21  cos_week             210337 non-null  float64
dtypes: bool(2), category(1), datetime64[ns](1), float64(13), int32(1), int64(4)
memory usage: 30.3 MB

In [31]:
binary_cols = ["is_national_holiday", "is_diwali_season"]

# Fill NaNs with 0 (assuming missing = No)
df[binary_cols] = df[binary_cols].fillna(0).astype(int)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210337 entries, 0 to 210336
Data columns (total 22 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   timestamp            210337 non-null  datetime64[ns]
 1   day_of_week          210337 non-null  int64
 2   hour_of_day          210337 non-null  int64
 3   is_weekend           210337 non-null  int64
 4   temperature          210337 non-null  float64
 5   is_holiday           210337 non-null  int64
 6   solar_generation     210337 non-null  float64
 7   electricity_demand   210337 non-null  float64
 8   month                210337 non-null  int32
 9   season               210337 non-null  category
 10  is_national_holiday  210337 non-null  int64
 11  is_diwali_season     210337 non-null  int64
 12  lag_1h               210337 non-null  float64
 13  lag_24h              210337 non-null  float64
 14  rolling_mean_3h      210337 non-null  float64
 15  rolling_mean_24h     210337 non-null  float64
 16  temp_squared         210337 non-null  float64
 17  temp_weekend         210337 non-null  float64
 18  sin_day              210337 non-null  float64
 19  cos_day              210337 non-null  float64
 20  sin_week             210337 non-null  float64
 21  cos_week             210337 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(13), int32(1), int64(6)
memory usage: 33.1 MB

In [34]:
pd.set_option('display.max_columns', None)
df

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand,month,season,is_national_holiday,is_diwali_season,lag_1h,lag_24h,rolling_mean_3h,rolling_mean_24h,temp_squared,temp_weekend,sin_day,cos_day,sin_week,cos_week
0,2000-01-02 00:00:00,6,0,1,12.278086,0,9.818864,561.445496,1,Winter1,0,0,517.798450,512.319382,572.066887,502.256181,150.751405,12.278086,0.000000,1.000000,-0.781831,0.623490
1,2000-01-02 01:00:00,6,1,1,15.554613,0,5.034357,528.952707,1,Winter1,0,0,561.445496,439.055673,536.065551,506.001890,241.945984,15.554613,0.258819,0.965926,-0.781831,0.623490
2,2000-01-02 02:00:00,6,2,1,9.245032,0,0.622450,502.959334,1,Winter1,0,0,528.952707,539.090652,531.119179,504.496419,85.470619,9.245032,0.500000,0.866025,-0.781831,0.623490
3,2000-01-02 03:00:00,6,3,1,16.878490,0,9.506536,509.784184,1,Winter1,0,0,502.959334,523.248968,513.898742,503.935386,284.883428,16.878490,0.707107,0.707107,-0.781831,0.623490
4,2000-01-02 04:00:00,6,4,1,11.996807,0,9.509486,439.657242,1,Winter1,0,0,509.784184,516.822822,484.133587,500.720154,143.923367,11.996807,0.866025,0.500000,-0.781831,0.623490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210332,2023-12-30 20:00:00,5,20,1,10.287488,0,6.321843,614.952598,12,Winter2,0,0,523.891176,634.786702,549.547935,494.744509,105.832411,10.287488,-0.866025,0.500000,-0.974928,-0.222521
210333,2023-12-30 21:00:00,5,21,1,13.728469,0,4.988534,633.911183,12,Winter2,0,0,614.952598,586.105928,590.918319,496.736395,188.470849,13.728469,-0.707107,0.707107,-0.974928,-0.222521
210334,2023-12-30 22:00:00,5,22,1,12.069605,0,7.831031,616.891494,12,Winter2,0,0,633.911183,555.188820,621.918425,499.307340,145.675361,12.069605,-0.500000,0.866025,-0.974928,-0.222521
210335,2023-12-30 23:00:00,5,23,1,15.542929,0,2.843539,497.233142,12,Winter2,0,0,616.891494,510.122261,582.678606,498.770293,241.582638,15.542929,-0.258819,0.965926,-0.974928,-0.222521
210336,2023-12-31 00:00:00,6,0,1,18.030598,0,2.196294,525.870426,12,Winter2,0,0,497.233142,477.545335,546.665020,500.783839,325.102482,18.030598,0.000000,1.000000,-0.781831,0.623490

In [35]:
df.to_csv('ready_to_modeling_data.csv')